<!DOCTYPE html>
<html>
  <head>
    <title>BoiledPotatoes</title>
    <link rel="icon" type="image/gif" href="https://s3.eu-west-2.amazonaws.com/boiledpotatoes/images/potato.png" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
  	<!-- 
  	 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
 -->
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
